
.header{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top:50px;
}

.header h1{
    overflow: hidden;
    color: #00095E;
    line-height: 1.2;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 1px;
    line-height: 1.2;
}
.header h1 dd{
        position: relative;
        text-align:center;
}

.header h1  dd::before{
            position: absolute;
            content: "";
            height: 11px;
            background: #FFC800;
            width: 70%;
            display: inline-block;
            top: 65%;
            z-index: -1;
            text-align: center;
            left: 0;
            right: 0;
            margin: 0 auto;
}

.header p{
    font-size: 20px;
    color: #00095E;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 1.6;
    font-family: "Roboto",sans-serif;
}
.header button{
    background: linear-gradient(to bottom, #00095e 0%, #0c0c1f 100%);
    padding:20px 45px;
    color:#fff;
    z-index:100;
        cursor:pointer;
    border-radius:10px;
    position:relative;
}
.header button  h3{
        z-index:5 ;
    }

.header button:hover::before
       {

        height:107%;
        transform: scaleY(1);
      }
.header button::before{
        content: "";
        position: absolute;
        left: -4px;
        top: -2px;
        right: 0;
        /* background-color: red; */
        background: var(--color-yellow);
        width: 102%;
        z-index: -5;
                border-radius: 0px;
         transition: transform 0.5s; 
         transition-timing-function: ease; 
         transform-origin: 0 0; 
         transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); 
         transform: scaleY(0); 
        border-radius: 10px;

}
.bg-bus{
    position: relative;
}
.bg-bus .bg-car{
        width: 1518px;
    }

 .bg-bus .bus-car{
        position: absolute;
        left: 50%;
        width: 50%;
        animation: up-and-down 8s linear infinite;
        top: 287px;
        transform: translateX(-50%);
    }

@keyframes up-and-down {
    0%,
    100% {
      left: 38%;
    }
    50% {
      left: 60%;
    }
  }
