@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.top-background-photographer {
  background-image: url('https://images.unsplash.com/photo-1516283182395-4b90237bff2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80');
  width: 100%;
  height: 440px;
  background-size: cover;
  background-position: center -400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-background-photographer p {
  color: white;
  font-size: xxx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);

}


.h1-sb {
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Card {
  flex: 0 0;

  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

.btn-book-sb {
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  border-radius: 10px;
  max-width: 120px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #000;
}

.btn-book-sb:hover {
  background: #fff;
  color: #000;
}

.icon-div {
  width: 30%;
  padding-top: 50px;
  color: rgb(0, 9, 94);
}

.icon {
  font-size: 2.5rem;
}

.icon-title {
  display: flex;
}

.icon-title p {
  margin: 3px 0px 0px 15px;
}

.icon-type {
  margin: 0px 0px 30px 0px;
}