body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root{
  --color-yellow:rgb(255, 200, 0);
  --color-tag:rgb(0, 9, 94);
  --color-blue:rgb(126, 160, 255);
  --color-dark-blue:rgb(0, 9, 94);
  --color-gray:rgb(103, 127, 139);
  --color-white:#fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: #fff;
}

a {
  color: unset !important;
  text-decoration: none !important;
}
li{
  list-style-type: none;
}
.section__padding {
  padding: 1rem 6rem !important;
}

.section__margin {
  margin: 4rem 6rem !important;
}
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem !important;
  }

  .section__margin {
    margin: 4rem !important;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem !important;
  }

  .section__margin {
    margin: 4rem 2rem !important;
  }  
}