.SpecialTrips-component {
    margin-top: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .SpecialTrips-title {
    text-align: center;
  }
  
  .SpecialTrips-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    height: fit-content;
  }
  
  .SpecialTrips-body-form {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-flow: column wrap;
    padding-top: 25px;
  }
  
  .SpecialTrips-body-form input {
    width: 50%;
    height: 100%;
    display: block;
    padding: 15px;
    margin: 10px 0px;
    width: 90%;
    border: 2.2px dashed rgb(173, 161, 247);
    border-top: none;
    border-right: none;
    border-radius: 50px;
  }
  
  .SpecialTrips-body-form p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-gray);
    margin-left: 10px;
  }
  
  .SpecialTrips-body-image {
    width: 50%;
    align-self: flex-end;
    height: 100%;
  }
  
  .SpecialTrips-body-image img {
    width: fit-content;
    height: fit-content;
    padding-left: 50px;
  }
  
  .form-button-submit {
    width: 50% !important;
    align-self: center !important;
    margin-left: 110px !important;
    margin-top: 25px !important;
    margin-top: 40px;
    background: #FFC800;
    font-family: "Roboto", sans-serif;
    text-transform: inherit !important;
    color: rgb(0, 9, 94) !important;
    border: none !important;
    font-weight: bold;
    border-radius: 5px !important;
    cursor: pointer;
  }
  
  .form-button-submit:hover {
    box-shadow: 1px 1px 5px rgb(0, 9, 94);
  }